* {
    font-family: sans-serif;
}

body {
    background-color: #f5f5f5;
    padding: 20px;

}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

h1 {
    /* text-align: center; */
    margin-bottom: 20px;
    color: blueviolet;
    overflow: hidden; /* Ensures the text is hidden until typed */
    white-space: nowrap; /* Keeps the text on a single line */
    border-right: 0.15em solid black; /* Creates the caret effect */
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}